<html>
  <head>
    <title>Thanks for your order!</title>
    <link rel="stylesheet" href="/style/checkoutStyle.css" />
  </head>
  <body>
    <section>
      <p>Your payment was succesfull.</p>
      <p>
        If you have any problem please send an email to our support
        <a href="mailto:orders@example.com">support@school.com</a>.
      </p>
      <button class="backButton" onclick="redirect()">Finish</button>
    </section>
    <script defer src="/public/routes.js"></script>
    <script defer src="/public/updatePayments.js"></script>
    <script defer src="/public/main.js"></script>
  </body>
  <script></script>
</html>
